footer.footer
    .wrapper
        .footer__top
            .footer__share
                a(href="#").footer__icn    
                    img(src="./images/fb.png", alt="")
                a(href="#").footer__icn    
                    img(src="./images/inst.png", alt="")
            
            .footer__phoneBlock
                a(href="tel:0800455040").footer__phone 0 800 45 50 40
                .footer__phoneDesc
                    span дзвiнки безкоштовнi
            
        .footer__middle
            span ОТРИМАЙ БЕЗКОШТОВНУ 
                br
                | ДОСТАВКу ПО УКРАЇНІ
                br
                | ДО ВІДДІЛЕННЯ НОВОЇ ПОШТИ 

    .footer__bottom
        span.footer__dl Вітаміни це не лікарський засіб. Обов'язково проконсультуйтеся зі своїм лікарем перед прийомом будь яких вітамінів та біологічно активних добавок. Також слід пам'ятати, що вітаміни не здатні замінити їжу. Будьте здорові! 