header.header
    .wrapper
        .header__content
            .header__left
                img(src="./images/flag.png", alt="").header__select
                img(src="./images/germ.png", alt="").header__germ

            .header__right
                a(href="/").header__logo
                    img(src="./images/logo_desc.png", alt="")