extends ../template

block varibles
    - var title = "Vitality"

block content
   
    .content
        include ../common/header.pug
        

        .topBlock
            .wrapper
                .topBlock__titleBlock
                    .topBlock__titleItem
                        h2.topBlock__titleItemText#title1 Планування.
                    .topBlock__titleItem
                        h2.topBlock__titleItemText.active#title2 Вагітність.
                    .topBlock__titleItem
                        h2.topBlock__titleItemText#title3 Материнство.

                .topBlock__descBlock
                    span.topBlock__descText  Orthomol Natal – німецький вітамінний комплекс для мам від планування вагітності до завершення годування.

            .topBlock__iconBlock
                .topBlock__iconItem#icn1
                    img(src="./images/icn1.svg", alt="")
                .topBlock__iconItem.active#icn2
                    img(src="./images/icn2.svg", alt="")
                .topBlock__iconItem#icn3
                    img(src="./images/icn3.svg", alt="")


            .topBlock__boxBlock
                .boxBlock
                    .boxBlock__descBlock   
                        p.boxBlock__descText З самого моменту планування вагітності у жіночому житті починається особливий період. 
                        p.boxBlock__descText Саме тоді для майбутньої мами потрібен ще більш чутливий догляд та турбота.
                    .boxBlock__boxWrapper
                        img(src="./images/box.png", alt="").boxBlock__box
                    .boxBlock__priceBlock
                        span.boxBlock__oldPrice 4500 грн
                        span.boxBlock__newPrice 3000* грн
                    
                    .boxBlock__buttonBlock
                        button.button КУПИТИ

            .wrapper
                .topBlock__descBlock
                    span.topBlock__descText Для цього німецька компания «Orthomol GmbH» розробила сучасний вітамінний комплекс Orthomol Natal, який містить все необхідне для здоров'я мами та малюка.


        .secondBlock
            img(src="./images/arm_5.png", alt="").secondBlock__arm.secondBlock__arm--5
            .wrapper
                .secondBlock__descBlock
                    .secondBlock__descItem
                        p.secondBlock__descText Вагітнітність це приємна відповідальність. Тому майбутні мами починають готуватися до цієї події заздалегідь. Вітамінний комплекс розрахований на початок прийому за 3-4 місяці до запліднення. 
                        p.secondBlock__descText Його приймають весь період вагітності та годування.  
                    .secondBlock__descItem
                        p.secondBlock__descText 
                            b Orthomol Natal 
                            | допомагає отримати всі необхідні речовини на кожному з цих етапів, для здорового запліднення, вагітності та поживного годування малюка.

                
                .secondBlock__searchBlock
                    .secondBlock__search    
                        .secondBlock__searchText
                            span#typing 
                        img(src="./images/search.png", alt="").secondBlock__icon

                .secondBlock__numBlock
                    img(src="./images/arm_1.png", alt="").secondBlock__arm.secondBlock__arm--1
                    span.secondBlock__num 1

                .secondBlock__descBlock.secondBlock__descBlock--2
                    .secondBlock__descItem
                        p.secondBlock__descText
                            b 30 пакетиків з вітамінами у вигляді порошка.
                        p.secondBlock__descText Порошок потрібно розчинити у воді або змішати з фруктовим соком.
                        p.secondBlock__descText Приймати один раз на день. Ще і смачно!

                    
                .secondBlock__numBlock
                    img(src="./images/arm_2.png", alt="").secondBlock__arm.secondBlock__arm--2 
                    img(src="./images/arm_3.png", alt="").secondBlock__arm.secondBlock__arm--3
                    span.secondBlock__num 2


                .secondBlock__descBlock.secondBlock__descBlock--3
                    .secondBlock__descItem
                        p.secondBlock__descText
                            b 30 пакетиків з двома капсулами у кожному.
                        p.secondBlock__descText Капсули з додатковими вітамінами приймають двічи на день, разом зі сніданком або на обід. 


                .secondBlock__numBlock
                    img(src="./images/arm_4.png", alt="").secondBlock__arm.secondBlock__arm--4
                    span.secondBlock__num 3


                .secondBlock__descBlock
                    .secondBlock__descItem
                        p.secondBlock__descText
                            b 30 капсул з пробіотиком.
                        p.secondBlock__descText Пробіотики – це корисні бактерії. 
                        p.secondBlock__descText Капсулу з пробіотиком приймають кожен день, на ніч.


        .thirdBlock 
            .wrapper
                .sliderfirst
                    .swiper-container.slider1
                        .swiper-wrapper
                            .swiper-slide(style="background-image: url('./images/slide1.png');")
                            .swiper-slide(style="background-image: url('./images/slide2.png');")
                            .swiper-slide(style="background-image: url('./images/slide3.png');")
                            .swiper-slide(style="background-image: url('./images/slide4.png');")
                            .swiper-slide(style="background-image: url('./images/slide5.png');")

                    .swiper-pagination

        
        .fourthBlock
            .wrapper
                .table
                    .table__head    
                        .table__title
                            span Денна доза вітамінного комплексу містить:
                    .table__body
                        .table__subtitle
                            span Вiтамiни
                        .table__itemRow
                            .table__itemColumn
                                span Витамин C
                            .table__itemColumn
                                span 110 мг
                        .table__itemRow
                            .table__itemColumn
                                span Витамин E
                            .table__itemColumn
                                span 50 мг 
                        .table__itemRow
                            .table__itemColumn
                                span  Витамин B1
                            .table__itemColumn
                                span 3 мг 
                        .table__itemRow
                            .table__itemColumn
                                span  Витамин B2
                            .table__itemColumn
                                span 3 мг
                        .table__itemRow
                            .table__itemColumn
                                span Никотинамид
                            .table__itemColumn
                                span 36 мг
                        .table__itemRow
                            .table__itemColumn
                                span Витамин B6
                            .table__itemColumn
                                span 5 мкг 
                        .table__itemRow
                            .table__itemColumn
                                span Витамин B12
                            .table__itemColumn
                                span 9 мкг
                        .table__itemRow
                            .table__itemColumn
                                span Витамин K1
                            .table__itemColumn
                                span 60 мкг
                        .table__itemRow
                            .table__itemColumn
                                span Витамин D3
                            .table__itemColumn
                                span 5 мкг 
                        .table__itemRow
                            .table__itemColumn
                                span Фолиевая кислота
                            .table__itemColumn
                                span 500 мкг
                        .table__itemRow
                            .table__itemColumn
                                span Пантотеновая кислота 
                            .table__itemColumn
                                span 18 мг 
                        .table__itemRow
                            .table__itemColumn
                                span Биотин 
                            .table__itemColumn
                                span 150 мкг 

                        //- 2

                        .table__subtitle
                            span Минеральные вещества, микроэлементы и другие микропитательные вещества
                        .table__itemRow
                            .table__itemColumn
                                span Кальций 
                            .table__itemColumn
                                span 400 мг 
                        .table__itemRow
                            .table__itemColumn
                                span Магний 
                            .table__itemColumn
                                span 180 мг 
                        .table__itemRow
                            .table__itemColumn
                                span  Селен
                            .table__itemColumn
                                span 30 мкг  
                        .table__itemRow
                            .table__itemColumn
                                span  Железо
                            .table__itemColumn
                                span 5 мг
                        .table__itemRow
                            .table__itemColumn
                                span Цинк 
                            .table__itemColumn
                                span 5 мг
                        .table__itemRow
                            .table__itemColumn
                                span Медь 
                            .table__itemColumn
                                span 1000 мкг 
                        .table__itemRow
                            .table__itemColumn
                                span Молибден 
                            .table__itemColumn
                                span 1000 мкг 
                                span 
                        .table__itemRow
                            .table__itemColumn
                                span Хром
                            .table__itemColumn
                                span 60 мкг 
                        .table__itemRow
                            .table__itemColumn
                                span Йод 
                            .table__itemColumn
                                span 150 мкг 
                        .table__itemRow
                            .table__itemColumn
                                span Натуральный β-каротин
                            .table__itemColumn
                                span 2 мг 

                        //- 3

                        .table__subtitle
                            span Эссенциальные жирные кислоты
                        .table__itemRow
                            .table__itemColumn
                                span 
                                    | Рыбий жир, содержит: 
                                    br 
                                    | омега-3-жирные
                                    br 
                                    | кислоты, из них: 
                            .table__itemColumn
                                span 420 мг	 
                        .table__itemRow
                            .table__itemColumn
                                span Эйкозапентаеновая
                                    br 
                                    | кислота (EPA)
                            .table__itemColumn
                                span 300 мг	
                        .table__itemRow
                            .table__itemColumn
                                span Докозагексаеновая
                                    br
                                    | кислота (DHA)
                            .table__itemColumn
                                span 50 мг

                        //- 4


                        .table__subtitle
                            span Пробиотики
                        .table__itemRow
                            .table__itemColumn
                                span 
                                    | Культура молочнокислых 
                                    br 
                                    | бактерий, содержит: 
                                    br 
                                    | Пробиотики
                            .table__itemColumn
                                span 3 x 109
                        .table__itemRow
                            .table__itemColumn
                                span (Lactococcus lactis,
                                    br 
                                    | Lactobacillus casei,
                                    br 
                                    | Lactobacillus acidophilus,
                                    br 
                                    | Bifidobacterium bifidum) 
                            .table__itemColumn
                                span KBE°	


        .fifthBlock
            .wrapper
                .fifthBlock__title
                    span Всі ці речовини вкрай необхідні малюку:
                
                .fifthBlock__blockRings
                    img(src="./images/ring0.png", alt="").fifthBlock__ring.fifthBlock__ring--0
                    img(src="./images/ring1.png", alt="").fifthBlock__ring
                    img(src="./images/ring2.png", alt="").fifthBlock__ring
                    img(src="./images/ring3.png", alt="").fifthBlock__ring
                    img(src="./images/ring4.png", alt="").fifthBlock__ring
                    img(src="./images/ring5.png", alt="").fifthBlock__ring
                    img(src="./images/ring6.png", alt="").fifthBlock__ring
                    img(src="./images/ring7.png", alt="").fifthBlock__ring
                

                
            .fifthBlock__slider 
                .sliderSecond
                    .swiper-container.slider2
                        .swiper-wrapper
                            .swiper-slide sdfsdf sdfsdfsdf sdfsdfsdf sdfsdf
                            .swiper-slide 4 sdfsdf sdfsdfsdf sdfsdfsdf sdfsdf
                            .swiper-slide 5 sdfsdf sdfsdfsdf sdfsdfsdf sdfsdf
                            .swiper-slide 6 sdfsdf sdfsdfsdf sdfsdfsdf sdfsdf
                            .swiper-slide 8 sdfsdf sdfsdfsdf sdfsdfsdf sdfsdf

            .wrapper

                .fifthBlock__descBlock
                    .fifthBlock__subtitle
                        span Вітаміни Orthomol це:
                    .fifthBlock__text
                        p &emsp;  Професійний догляд за здоров'ям мами та малюка. Комплекс містить оптимальну концентрацію вітамінів, мінеральних речовин та пробіотиків; 
                    .fifthBlock__text
                        p &emsp;  Німецькі стандарти якості. Вітаміни Ортамол виробляються в Німеччині компанією Orthomol Pharmazeutische Vertriebs GmbH для внутрішнього європейського  ринку. Всі вироби компанії проходять сувору сертифікацю за стандартом ISO 22000/GMP, та перевірку на безпечність використання.

                   

            .fifthBlock__boxBlock

                .boxBlock.boxBlock--2
                    .boxBlock__boxWrapper
                        img(src="./images/box.png", alt="").boxBlock__box
                    .boxBlock__priceBlock
                        span.boxBlock__oldPrice 4500 грн
                        span.boxBlock__newPrice 3000* грн
                    
                    .boxBlock__buttonBlock.boxBlock__buttonBlock--2
                        button.button КУПИТИ

                    .boxBlock__descBlock.boxBlock__descBlock--2
                        p.boxBlock__descText *Залиш свій актуальній email та отримай 
                            b знижку 25% 
                            | на вітамінний комплекс Orthomol Natal від «Orthomol GmbH».    

                    .boxBlock__buttonBlock
                        button.button.button--blue залишити email
            

        include ../common/footer.pug