.topBlock{
	background-color: #00214e;
	padding-top: 125px;

	border-bottom-left-radius: 45px;
	border-bottom-right-radius: 45px;
	padding-bottom: 50px;
	margin-bottom: 40px;


	&__titleBlock{
		margin-bottom: 20px;
	}

	&__titleItemText{
		color: #ffffff;
		font-size: 29px;
		font-weight: 400;
		line-height: 58.33px;
		font-family: Montserrat;
		&.active{
			font-size: 44px;
			font-weight: 800;
		}
	}

	&__descText{
		color: #ffffff;
		font-family: Montserrat;
		font-size: 21px;
		font-weight: 400;
	}

	&__iconBlock{
		display: flex;
		justify-content: space-between;
		position: relative;
		z-index: 1;
	}

	&__iconItem{
		padding: 48px 15px 47px 15px;
		padding: 30px 15px 30px 15px;
		width: 32%;
		position: relative;
		
		img, svg{
			width: 100%;
			fill: white;	
			position: relative;
			z-index: 2;
			transform: scale(1.4);
			opacity: .4;
		}

		

		&.active{
			&:before{
				position: absolute;
				left: 0;
				top: 0;
				content: "";
				width: 100%;
				height: 130%;
				box-shadow: inset 0px -200px 90px -70px rgba(0,65,110,1);
			}
			img{
				opacity: 1;
			}
		}
	}

	&__boxBlock{
		position: relative;
		z-index: 2;
	}
}

.boxBlock{
	background-color: #e8e8e8;
	border-radius: 45px;
	padding: 36px 0 45px 0;
	margin-bottom: 32px;

	&--2{
		padding-top: 10px;
		margin-bottom: 0;
		padding-bottom: 37px;
	}

	&__descBlock{
		padding: 0 15px 0 21px;
		&--2{
			margin-bottom: 27px;
		}
	}

	&__descText{
		color: #00132f;
		font-family: Montserrat;
		font-size: 21px;
		font-weight: 400;
	}

	&__boxWrapper{
		padding: 0 20px;
		img{
			width: 100%;
		}
	}

	&__priceBlock{
		padding: 0 20px;
		margin-bottom: 20px;
		margin-top: -30px;
		display: flex;
		justify-content: space-between;
	}

	&__oldPrice{
		opacity: 0.74;
		color: #00132f;
		font-family: Montserrat;
		font-size: 31px;
		font-weight: 400;
		position: relative;
		&:before{
			content: "";
			position: absolute;
			width: 2px;
			height: 115px;
			z-index: 1000;
			bottom: 0;
			background-color: #00132f;
			transform: rotate(75deg);
			left: 55px;
			top: -39px;
		}
	}

	&__newPrice{
		color: #00132f;
		font-family: Montserrat;
		font-size: 33px;
		font-weight: 800;
	}

	&__buttonBlock{
		display: flex;
		justify-content: center;

		&--2{
			margin-bottom: 38px;
		}
	}
}