.thirdBlock{

	// height: 200px;
	margin-bottom: 90px;
}
            // .sliderfirst
            //     .swiper-container
			//         .swiper-wrapper
			
.sliderfirst{
	.swiper-slide{
		height: 270px;
		background-size: contain;
		background-repeat: no-repeat;
		background-position: center;
	}
}