.button{
    // display: flex;
    // align-items: center;
    // justify-content: center;
    width: 219px;
    height: 48px;
    border-radius: 24px;
    border: none;
    font-family: Montserrat;
    font-size: rem(16);
    color: white;
    font-size: 25px;
    font-weight: 800;
    text-transform: uppercase;
    background-color: #dc007d;
    &:hover{
        background: $brand_color;
        color: $white;
    }
    &:active{
        background: none;
        color: $brand_color;
    }
}


// @media screen and (max-width:500px){
//     .button{
//         width: 151px;
//         height: 39px;
//         font-size: 14px;
//         line-height: 1;
//     }
// }