@keyframes pulse { 
    0% {
        transform: scale(1);
    } 
    38% {
        transform: scale(1);
    } 
    50% {
        transform: scale(1.05);
    } 
    62% {
        transform: scale(1);
        
    } 
    100% {
        transform: scale(1);
    } 
}

.button{
    // display: flex;
    // align-items: center;
    // justify-content: center;
    width: 219px;
    height: 48px;
    border-radius: 24px;
    border: none;
    font-family: Montserrat;
    font-size: 21px;
    color: white;
    font-weight: 800;
    text-transform: uppercase;
    background-color: #dc007d;
    outline: none;
    transition: 0s;
    // background-color: rgba(220, 0, 125, 0.85);
    transform: scale(1);
    animation: 3s linear infinite pulse;
    &--blue{
        width: 278px;
        box-shadow: 0 3px 18px rgba(0, 0, 0, 0.35);
        border-radius: 24px;
        background-color: #1a2857;
    }

    &:hover{
    }
    &:active{
        filter: brightness(0.85);
        transition: 0s;
    }
}














// @media screen and (max-width:500px){
//     .button{
//         width: 151px;
//         height: 39px;
//         font-size: 14px;
//         line-height: 1;
//     }
// }