.header{
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	padding: 49px 0 43px 0;

	&__content{
		display: flex;
		justify-content: space-between;
	}

	&__germ{
		display: none;
	}

	&__right{
		display: flex;
		align-items: center;
	}

	&__logo{
		display: flex;
		justify-content: flex-end;
		img{
			width: 288px;
			height: 34px;
		}
		
	}

 
}

@media screen and (max-width:370px){
	.header{
		img{
			width: 96%;
		}	
	}
}

@media screen and (min-width:1200px){
	.header{
		background: #021b3f;
		border-bottom-left-radius: 70px;
		border-bottom-right-radius: 70px;
		padding: 42px 0;

		&__content{
			flex-direction: row-reverse;
		}

		&__logo{
			img{
				width: auto;
				height: auto;
			}
		}

		&__select{
			display: none;
		}

		&__germ{
			display: block;
		}
	}
}